.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#')
        img(alt='Brand', height='20', src='/img/logo.png', width='20')

      a.navbar-brand(href='/')
        | #csfnaicsf
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'Adauga') ? 'active' : undefined)
          a(href='/add-story') Adauga
        li(class=(title == 'Descopera') ? 'active' : undefined)
          a(href='/stories') Descopera
        li
          a(href='/about') Despre
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Autentifica-te') ? 'active' : undefined)
            a(href='/login') Autentifica-te
          li(class=(title == 'Cont Nou') ? 'active' : undefined)
            a(href='/signup') Cont Nou
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') Contul Meu
              li.divider
              li
                a(href='/logout') Deconectare
