extends layout


block content
    div.pt4
        h1.center Despre proiect
    .container.pt4
        .row
            .col-sm-10.col-sm-offset-1
            p.card-text
                | Sistemele software sunt sisteme create de oameni, de cele mai multe ori ele au buguri. In software, bugurile sunt identificate si rezolvate.
            p.cart-text
		        | Majoritatea interactiunilor pe care le avem intre noi, cu oameni, comunitati, institutii sunt in cadrul unor sisteme create de oameni.
		        | Si ce am invatat despre sistemele create de oameni? Ca au buguri. Spre deosebire de sistemele software, in restul sistemelor create de oameni bugurile nu sunt asa de usor de investigat si de rezolvat.
		    p.cart-text
                | Aici intervine jurnalismul, mai precis o subcategorie din acesta - urnalismul de investigatie. Rolul jurnalistului de investigatie este sa scoata adevarul la lumina, sa gaseasca problema.

                | Cred ca nu mai e nevoie sa explicam de ce avem nevoie de jurnalism de investigatie. Trebuie doar sa ne amintim ce s-a intamplat la Colectiv si investigatiile care au dus la scandalul Hexifarma.
		        | Problema e ca sunt putini, munca lor este de durata si costisitoare. De multe ori acestia recurg la freelancing pentru publicatii si articole prin care isi pot sustine munca lor de investigatie.
		        | De curand prin cresterea popularitatii crowdfunding-ului, o noua metoda de sustinere a acestora a devenit viabila. Conceptul a fost demonstrat in alte tari (Statele Unite, Suedia, Marea Britanie, dar si in Romania) la scara mica.
            p.cart-text
                | strong Solutia
            p.cart-text
		        | Solutia noastra a fost crearea unei platforme unde oamenii (deopotriva jurnalisti sau nu) pot propune povesti spre a fi investigate.

                | Acestea trec printr-un proces initial de verificare de catre comunitate, unde se verifica veridicitatea, se discuta despre propunere, se pot aduce amendamente si o pot vota.

                | Odata trecuta de procesul initial de verificare. Atat a veridicitatii povestii si a intentiei autorului, cat si prin discutiile initiale, a interesului cititorilor ( creandu-se o comunitate). Povestea devine 'verificata' si are 60 de zile sa obtina minimul de finantare propus. | |Utilizatorii interesati, deopotriva cei care au participat la discutiile initiale sau nu pot sprijini autorul, donand o suma de bani.
		        | Dupa ce suma minima este stransa, un avans este eliberat celui care s-a oferit sa investigheze, pentru a-si putea incepe investigatia.

