extends layout


block content
    .container.pt4
            .row
                .col-sm-12
                h1 #{title}
            .row.mt1
                .col-sm-12
                    form.form-horizontal(method="POST")
                        input(type='hidden', name='_csrf', value=_csrf)
                        .form-group
                            label(for="title") Titlu
                            input#title.form-control(type="text" name="title")
                        .form-group
                            label(for="description") Scurta descriere
                            textarea#description.form-control(name="description")
                        .form-group
                            label(for="content") Continut
                            textarea#content.form-control(name="content")
                        .form-group
                            label(for="fundingTarget") Tinta de finantare
                            input#fundingTarget.form-control(type="number" name="fundingTarget")
                        .form-group
                            button.btn.btn-primary Trimite
