extends layout


block content
    div
        h1 Problem
        h4 Reported by ...
    .container
        .row
            .col-sm-6
                div project picture
            .col-sm-6
                p Descriere
                ul
                    li 97% finantat
                    li Numar de sustinatori
                    li Timp pana cauza expira
                div
                    a.btn.btn-default Recompensa
                    a.btn.btn-default Trimite documentatie

        .row
            .col-sm-12
                ul this is an inline list
                    li Description
                    li Backers
                    li Discussion
                    li Updates
